/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
    margin: 20px;
    max-width: 600px;

    mat-card-header {
        font-size: x-large;
    }

    mat-card-content {
        margin-top: 20px;
    }

    mat-card-footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}
